* {
    margin: 0px;
    padding: 0px;
}

body {
    background: rgb(251,248,254);
    background: linear-gradient(90deg, rgba(251,248,254,1) 0%, rgba(165,148,233,1) 100%);
}


/*header*/

header {
    background-color: blueviolet;
}

.container .dropdown-toggle,
.container .dropdown-item {
    font-size: 0.7em;
}

.header-links a {
    font-size: 0.9em;
    text-decoration: none;
    color: white;
}

.primary-color {
    color: white;
}

/*Main*/

.img-main img{
    width: 97%;
    margin: 20px;
}

/*Footer*/

.footer {
    width: 100%;
    height: 50px;
    background-color: blueviolet;
    margin-top: 10px;
    color: white;
}